<div class="login-item" *ngIf="step == 1">
  <form #f="ngForm" action="" method="post" class="form form-login">
    We'll send a one time code to your email for you to reset your password.
    <div class="form-field">
      <label class="email" for="email"><span class="hidden">Email</span></label>
      <input
        id="email"
        type="email"
        class="form-input"
        placeholder="name@mail.com"
        #ctrl="ngModel"
        [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}"
        (keyup.enter)="submitEmail()" required>
    </div>

    <div class="form-field">
      <input type="submit" value="Send code" (click)="submitEmail()">
    </div>
  </form>
  <button class="btn-link" (click)="step = 2">Already have a code?</button>
</div>

<div class="login-item" *ngIf="step == 2">
  <form #f="ngForm" action="" method="post" class="form form-login">
    Enter the six-digits code sent to your email.
    <div class="form-field">
      <label class="code" for="email"><span class="hidden">Code</span></label>
      <input
        id="code"
        type="text"
        class="form-input text-black-50"
        placeholder="000000"
        #ctrl="ngModel"
        [(ngModel)]="code"
        [ngModelOptions]="{standalone: true}"
        (keyup.enter)="submitEmail()" required>
    </div>

    <div class="form-field">
      <input type="submit" value="Enter" (click)="submitCode()">
    </div>
  </form>
</div>

<div class="login-item" *ngIf="step == 3">
  <form #f="ngForm" action="" method="post" class="form form-login">
    Enter your new password
    <div class="form-field">
      <label class="password" for="password"><span class="hidden">Password</span></label>
      <input
        id="password"
        autocomplete="new-password"
        type="password"
        class="form-input"
        placeholder="password"
        #ctrl="ngModel"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}"
        (keyup.enter)="submitPassword()" required>
    </div>

    <div class="form-field">
      <input type="submit" value="Change password" (click)="submitPassword()">
    </div>
  </form>
</div>
