<div class="login-item">
  <form action="" method="post" class="form form-login">
    <div class="form-field">
      <label class="username" for="login-username"><span class="hidden">Username</span></label>
      <input id="login-username" type="text" class="form-input" placeholder="Username" required>
    </div>

    <div class="form-field">
      <label class="email" for="login-email"><span class="hidden">Work Email</span></label>
      <input id="login-email" type="email" class="form-input" placeholder="johnSmith@email.com" required>
    </div>

    <div class="form-field">
      <label class="lock" for="login-password"><span class="hidden">Password</span></label>
      <input id="login-password" type="password" class="form-input" placeholder="Password" required>
    </div>

    <div class="form-field">
      <label class="company" for="login-company"><span class="hidden">Company</span></label>
      <input id="login-company" type="text" class="form-input" placeholder="Company" required>
    </div>

    <div class="form-field">
      <label class="name" for="login-name"><span class="hidden">Your Name</span></label>
      <input id="login-name" type="text" class="form-input" placeholder="John Smith" required>
    </div>

    <div class="form-field">
      <label class="name" for="login-phone"><span class="hidden">Phone Number with country code</span></label>
      <input id="login-phone" type="text" class="form-input" placeholder="+1 9999999999" required>
    </div>

    <div class="form-field">
      <input type="submit" value="Log in">
    </div>
  </form>
</div>
